.config/VirtualBox/
.config/abook/addressbook
.config/calcurse/apts
.config/calcurse/todo
.config/clojure/
.config/coc/
.config/htop/
.config/mpd/database
.config/mpd/log
.config/mpd/pid
.config/mpd/state
.config/mpd/sticker.sql
.config/ncmpcpp/error.log
.config/nvim/.netrwhist
.config/nvim/autoload
.config/nvim/plugged
.config/shortcutrc
.config/slack-term/
.config/vifm/scripts
.config/vifm/vifm-help.txt
.config/vifm/vifminfo
.config/zsh/.zcompdump
.config/zshnameddirrc
.local/bin/efe
.local/bin/els_dap
.local/bin/elvis
.local/bin/erlang_ls
.local/bin/erlfmt
.local/bin/lfe
.local/bin/lfec
.local/bin/lfedoc
.local/bin/lfescript
.local/bin/rebar3
.local/bin/v
.local/bin/vls
.local/include
.local/lib
.local/share/cargo
.local/share/history
.local/share/lf
.local/share/go
.local/share/newsboat
.local/share/nvim
.local/share/password-store
.local/share/recently-used.xbel
.local/share/vifm/Trash
.local/share/weatherreport
.local/share/yarn
.local/share/zathura
