[user]
	email = hugdubois@gmail.com
	name = Hugues Dubois
[difftool]
	prompt = true
[diff]
	tool = nvimdiff
[difftool "nvimdiff"]
	cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[merge]
	tool = nvimdiff
[mergetool "nvimdiff"]
	cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
